{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- Home Section -->
    <section id="home">
        <div class="home-container">
            <div class="text-effect">
                <h1>Gaëtan Richer<span></span></h1>
                <h1>Développeur Web<span></span></h1>
                <h1>Back-end<span></span></h1>
            </div>

            <div class="home-button">
                <section id="link">
                        <div class="social-icon-home">
                            <div class="social-item-home">
                                <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png"/></a>
                            </div>
                            <div class="social-item-home">
                                <a href="#"><img src="https://img.icons8.com/nolan/64/github.png"/></a>
                            </div>
                        </div>

                </section>

                <a href="{{ path('projet_index') }}" type="button" class="cta">Portfolio</a>
            </div>
        </div>
    </section>
    <!-- End Home Section -->
{% endblock %}
