/* Contact Section */

#contact span{
  color: $color-1;
}
#contact .contact{
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
#contact .contact-items{
  width: 400px;
  display: contents;

}
#contact .contact-item{
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/* End Contact Section */

.about--img {
  background-image: url("/assets/images/19362653.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 30vh;
  width: 90%;
}

.col-left {
  display: flex;
  justify-content: center;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.cta-download {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  //background-color: transparent;
  background: linear-gradient(to bottom right,#176fa6 0,#8911d9);
  border: 2px solid #176fa6;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: .3s ease;
  transition-property: background-color, color;
}
.cta-download:hover {
  color: #fff;
  background: linear-gradient(to bottom right,#176fa6 0,#8911d9);
}

.contact-sum {
  text-align: center;
  font-size: initial;
  line-height: 3rem;
  padding: 10px;
  margin-top: 2rem;
}

.about-contact {
  display: flex;
  justify-content: center;
}

.about {
  width: 90%;
  margin-left: 21px;
  padding: 2.5rem;
  text-align: center;
}

.container, .home-container {
  min-height: 10vh;
  margin-top: 0;
}

#about h1 span {
  color: $color-1;

}