$body-bg: whitesmoke;
$body-color: #111;

$color-1 : #8911D9;
$color-2 : #021373;
$color-3 : #010B40;
$color-4 : #010A26;
$color-5 : #176FA6;
$color-6 : background linear-gradient(to bottom right, #176fa6 0%, #8911d9 100%);