
#head {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/fond.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(180vh at 50% -100vh);

}

#head .content {
  max-width: 1000px;
  text-align: center;

}