@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
.home-port-folio{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text-effect{
  margin-left: 50px;
  text-align: -webkit-center;
  margin-right: 50px;
}

/*Home Section */
#home{
  background-image: url("/assets/images/fond.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
}

#home::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}
#home .home{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#home h1{
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}
#home h1:nth-child(1){
  animation-delay: 1s;
}
#home h1:nth-child(2){
  animation-delay: 2s;
}
#home h1:nth-child(3){
  animation: text_reveal_name .5s ease forwards;
  animation-delay: 3s;
}
#home h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background : linear-gradient(to bottom right, #176fa6 0%, #8911d9 100%);  opacity: 50%;
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}
#home h1:nth-child(1) span {
  animation-delay: .5s;
}
#home h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
  animation-delay: 2.5s;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  //background-color: transparent;
  background: linear-gradient(to bottom right,#176fa6 0,#8911d9);
  border: 2px solid #176fa6;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 100px;
  transition: .3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: #fff;
  background: linear-gradient(to bottom right,#176fa6 0,#8911d9);
}
/*End Home Section*/

/* Link Home */

#link .link{
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#link h2{
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#link .social-icon-home{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
#link .social-item-home{
  height: 60px;
  width: 60px;
  margin: 0 5px;
}
#link .social-item-home img {
 // filter: grayscale(1);
  transition: .3s ease filter;
}
#link .social-item-home:hover img{
  filter : grayscale(0);
}
#link p {
  color: white;
  font-size: 1.3rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: -6rem;
}

.text {
  margin-top: 10rem;
}
/* End Link Home */


/* Keyframes */
@keyframes hamburger_puls {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0%;
  }
  100%{
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100%{
    color: white;
  }
}
@keyframes text_reveal_name {
  100%{
    color: $color-1;
    font-weight: 500;
  }
}
/* End Keyframes */