body {
  font-family: 'Montserrat', sans-serif;
}

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: white;
  z-index: 1;
  transition: .4S ease-out;


a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;

  .nav-link {
    transition:
    opacity .4s ease-in-out,
    transform  .6s cubic-bezier(0.175,
            0.885, 0.32, 1.275);

    &:nth-of-type(2) {
      transition-delay: .1s;
    }
    &:nth-of-type(3) {
      transition-delay: .2s;
    }
    &:nth-of-type(4) {
      transition-delay: .3s;
    }
    a {
      margin: .2rem;
      padding: 1rem .5rem;
    }

    a:hover {
      background: rgba(255, 255, 255, 0.2)
    }
  }
}

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor:pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: #fff;
      height: 2px;
      width: 20px;
      border-radius: 4px;

      &::before, &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: #fff;
        transition: background .8s ease;

      }
      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }
  .menu-btn {
position: absolute;
  top: -100px;

    &:focus  ~ .menu-icon {
      .menu-icon__line {
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
  }

  &.scrolled {
    height: 50px;
    background: rgba(0,0,0, 0.9);
    color: #fff;

    .menu-icon {
      &__line,
      &__::before,
      &__line::after{
        background: #fff;
      }
    }
  }
}

.logo {
  font-size: 2.5rem;
  margin-left: -1rem;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255,255,255, 0.6);
    background: rgba(255,255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255,255, 255, 0);
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-5px)
    rotate(0deg);
  }
  50% {
    transform: translateY(0px)
    rotate(0deg);
  }
  100% {
    transform: translateY(0px)
    rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    transform: translateY(-5px)
    rotate(0deg);
  }
  50% {
    transform: translateY(0px)
    rotate(0deg);
  }
  100% {
    transform: translateY(0px)
    rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closeddMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBtm {
  0% {
    transform: translateY(5px)
    rotate(0deg);
  }
  50% {
    transform: translateY(0px)
    rotate(0deg);
  }
  100% {
    transform: translateY(0px)
    rotate(90deg);
  }
}@keyframes closedBtm {
  0% {
    transform: translateY(5px)
    rotate(0deg);
  }
  50% {
    transform: translateY(0px)
    rotate(0deg);
  }
  100% {
    transform: translateY(0px)
    rotate(90deg);
  }
}

