.card-projet {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 3.5rem;
  text-align: center;
}

.card-title {
  font-size: large;
}

.card-deck .card{
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.card-deck {
  padding: 20px;
  margin-bottom: -40px;
}

#project h1 span {
  color: $color-1;

}

.section-title-project {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
}