{% extends 'base.html.twig' %}

{% block html %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    {% include'_header.html.twig' %}

    <div class="about-pictures">
        <div class="col-left">
            <div class="about--img shadow mb-5 bg-white rounded">
            </div>
        </div>
    </div>
    <!-- About Section -->
    <section id="about">
        <h1 class="section-title"><u><span>A</span>bout <span>m</span>e</u></h1>

        <div class="about shadow mb-5 bg-white rounded">

            <div class="col-right">
                <h2> Back End Developer</h2>
                <p class="contact-sum">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <a href="#" class="cta-download">Download Resume</a>
            </div>
        </div>

    </section>
    </div>
    <!-- End About Section -->

    <!-- Contact Section -->
    <section id="contact">
        <div class="contact container">
            <div><h1 class="section-title"><span>C</span>ontact <span>i</span>nfo</h1></div>
            <div class="contact-items">

                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/dusk/64/000000/service.png"/></div>
                    <div class="contact-info">&
                        <h1>Email</h1>
                        <h2>Monkiz@monsite.com</h2>
                        <h2>Github : .........</h2>
                    </div>
                </div>

                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/dusk/64/000000/service.png"/></div>
                    <div class="contact-info">
                        <h1>Email</h1>
                        <h2>Monkiz@monsite.com</h2>
                        <h2>Github : .........</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->

    {% include '_footer.html.twig' %}

{% endblock %}
{% endblock %}
