
<footer class="text-center text-white" id="footer">
    <div class="container pt-4">
        <section class="mb-4">
            <div class="footer-container">
            <div class="footer-title"><h1 class="footer-h1"><span>L</span>iens</h1></div>
            <div class="social-icon">
                <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/github.png" class="img-link"/></a>
                <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/linkedin.png" class="img-link"/></a>
            </div>
            </div>
        </section>
    </div>
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);" id="Copy">
        © 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>

